@import './_variables.scss';

.v-player {
  bottom: $player-bottom;
  justify-content: center;
  width: 100%;

  &--bottom {
    top: auto;
  }
  &--absolute {
    // height: 100%;
    position: absolute;
    z-index: $player-absolute-z-index;
    height: $player-absolute-height;
    @media screen and (max-width: 960px) {
      height: $player-absolute-height-mobile;
    }
  }
  &--fixed {
    // height: 100%;
    position: fixed;
    z-index: $player-absolute-z-index;
    height: $player-absolute-height;
    @media screen and (max-width: 960px) {
      height: $player-absolute-height-mobile;
    }
  }
}
